* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*gride design*/
 /* #catListDisplay li{
width: 90w;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}  */
/* #catListDisplay{
  display: grid;
  width: 3500px;
  height: 250px;
  grid-template-columns: repeat(4, 100px []);
  grid-template-rows: 50% 50%;
  list-style: none;
} */
.ulList{
  display: grid;
  
  height: 250px;
   
  list-style: none;
}

li {
  text-align: center;
  padding: 10px;
  border: 1px solid #eee;
}

.ulList li:last-child {
  grid-column: 1 / 4;
}
.gridlayoutsample {
  width: 90w;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}



.content {
  margin-top: 100px;
  width: 100%;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  text-align: center;
  color: #009688;
}

.backButton {
  top: 70%;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #009688;
  cursor: pointer;
}

button:hover {
  background-color: #e8fafa
}

.searchButton {
  width: 80px;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #009688;
  cursor: pointer;
}

input[type=text] {
  width: 300px;
  padding: 14px 0;
  margin-top: 8px;
  font-size: 17px;
  border: 2px solid #009688;
}

#categoryMenu {
  width: 300px;
  padding: 14px 0;
  margin-top: 8px;
  font-size: 17px;
  border: 2px solid #009688;
  color: #009688;
}